{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Athena - Home</title>
    <meta name="description" content="">
    <meta name="author" content="templatemo">
    <!-- 
    Visual Admin Template
    http://www.templatemo.com/preview/templatemo_455_visual_admin
    -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'athena/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'athena/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'athena/css/templatemo-style.css' %}" rel="stylesheet">

</head>

<body>
    <!-- Left column -->
    <div class="templatemo-flex-row">
        <div class="templatemo-sidebar">
            <header class="templatemo-site-header">
                <img src="{% static 'athena/img/logo.png' %}" rel="stylesheet" width="150" width="150" align="middle">
            </header>
            <!-- Search box -->
            <form class="templatemo-search-form" role="search">
                <div class="input-group">
                    <button type="submit" class="fa fa-search"></button>
                    <input type="text" class="form-control" placeholder="Search Students" name="srch-term" id="srch-term">
                </div>
            </form>
            <img id="notifications" src="{% static 'athena/img/notifications.png' %}" rel="stylesheet" width="250" align="middle">
        </div>
        <!-- Main content -->
        <div class="templatemo-content col-1 light-gray-bg">
            <div class="templatemo-top-nav-container">
                <div class="row">
                    <nav class="templatemo-top-nav col-lg-12 col-md-12">
                        <ul class="text-uppercase">
                            <li><a href="">Students</a></li>
                            <li><a href="">Inbox</a></li>
                            <li><a href="">Dashboard</a></li>
                        </ul>
                        <button style="float:right;" background-color="#886DFF" type="button" class="btn">Upload Documents</button>
                    </nav>
                </div>
            </div>
            <div class="templatemo-content-container">

                <div class="templatemo-flex-row flex-content-row">

                    <div class="templatemo-content-widget white-bg col-2">
                        <i class="fa fa-times"></i>
                        <div class="square"></div>

                        <h2 class="templatemo-inline-block">Students</h2>
                        <hr>

                        <img src="{% static 'athena/img/rodrigo.png' %}" rel="stylesheet" width="150" width="150" hspace="20">
                        <img src="{% static 'athena/img/samantha.png' %}" rel="stylesheet" width="150" width="150" hspace="20">
                        <img src="{% static 'athena/img/shirley.png' %}" rel="stylesheet" width="150" width="150" hspace="20">

                        <br>
                        <br>
                        <h2 class="templatemo-inline-block"> &nbsp;&nbsp; Rodrigo D'Souza &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Samantha Jones &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Shirley Zhan </h2>





                    </div>


                </div>

                <!-- Second row ends -->
                <div class="templatemo-flex-row flex-content-row templatemo-overflow-hidden">
                    <!-- overflow hidden for iPad mini landscape view-->
                    <div class="col-1 templatemo-overflow-hidden">
                        <div class="templatemo-content-widget white-bg templatemo-overflow-hidden">
                            <i class="fa fa-times"></i>
                            <div class="templatemo-flex-row flex-content-row">
                                <div class="col-1 col-lg-6 col-md-12">
                                    <h2 class="text-center">Modular<span class="badge">new</span></h2>
                                    <div id="pie_chart_div" class="templatemo-chart"></div>
                                    <!-- Pie chart div -->
                                </div>
                                <div class="col-1 col-lg-6 col-md-12">
                                    <h2 class="text-center">Interactive<span class="badge">new</span></h2>
                                    <div id="bar_chart_div" class="templatemo-chart"></div>
                                    <!-- Bar chart div -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="text-right">
                    <p>Copyright &copy; 2084 Company Name | Designed by <a href="http://www.templatemo.com" target="_parent">templatemo</a></p>
                </footer>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="{% static 'athena/js/jquery-1.11.2.min.js' %}"></script>
    <!-- jQuery -->
    <script src="{% static 'athena/js/jquery-migrate-1.2.1.min.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'athena/js/templatemo-script.js' %}"></script>
    <!-- Templatemo Script -->

</body>

</html>